/* =======================
========default styles */

* {
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}

body {
  min-height: 100svh;
}

.img-container {
  max-height: 300px;
}

/* ==============
=========typography */

h2 {
  font-family: "Baskervville SC", serif, system-ui;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.card-container {
  background-color: dimgray;
  color: #ececec;
  display: flex;
  max-width: 500px;
  border-radius: 5px;
}

.details-container {
  padding: 30px;
}

.card-details {
  display: flex;
  text-align: center;
  gap: 40px;
  margin-block: 20px;
}

.label,
.occupation {
  color: rgb(0, 0, 0);
}
